@model OAuthApiSDK.Models.APICredentials.Credentials
<script src="~/js/site.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}
@using (Html.BeginForm("OAuth", "GetSignature", FormMethod.Post, new { id = "GenerateJWS" }))
{
    <div class="credentials">
        <table class="responsive">
            <tr>

                <td class="labelName"> <label>ClientID:</label></td>
                <td class="fieldName">
                    @Html.TextBoxFor(model => model.ClientId, new { @class = "form-control" })
                </td>
            </tr>
            <tr><td class="spacer10"></td></tr>
            <tr>
                <td class="labelName"> <label>ClientSecret:</label></td>
                <td class="fieldName">

                    @Html.TextBoxFor(model => model.ClientSecret, new { @class = "form-control" })
                </td>
            </tr>
            <tr><td class="spacer10"></td></tr>
            <tr>
                <td class="labelName"><label>UserToken:</label></td>
                <td class="fieldName">

                    @Html.TextBoxFor(model => model.UserToken, new { @class = "form-control" })
                </td>
            </tr>

        </table>
    </div>

    @if (TempData["JWS"] != null)
    {
        <label>@TempData["JWS"]</label>
    }

}
<div class="taC">
    <button type="button" class="btn btn_lg btn_primary" onclick="location.href='@Url.Action("Index", "Home")'" id="btnback">
        <i class="fa fa-arrow-circle-left"></i>
        Back
    </button>
    <button type="button" class="btn btn_lg btn_primary"  id="btnCreate">
        Generate JWS
        <i class="fa fa-spinner fa-spin" aria-hidden="true" id="CreateSpinner" style="display:none"></i>
    </button>
</div>
<script type="text/javascript">
    function GetStatus() {
        debugger
        var formdata = $("#GenerateJWS").serialize();

        $.ajax({

            url: "/OAuthAPI/GetSignature/",
            cache: false,
            type: 'POST',
            data: formdata,
            success: function (data) {
                $(".modal-dialog").addClass("edit-dialog");
                $('#ModelBody').html(data);
                $('#myModal').modal("show");

            },
            error: function (err) {
                console.log(err.responseText);

            }
        });
    }
</script>