@model List<BusinessApiSDK.Models.Business.Business>
@using BusinessApiSDK.Models.Utilities
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="col-md-12 text-center">
        <img src="../images/tbslogo.png" alt="TaxBandits Logo" class="mb-5 logo mt-5">
    </div>

    <div class="header text-center mb-3">
        <div class="response-table p-4">
            <table class="table table-striped mt-2 table-bordered">
                <thead>
                    <tr>
                        <th>BusinessId</th>
                        <th>Business Name</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var BizDetails in Model)
                        {
                            <tr>
                                <td>@BizDetails.BusinessId</td>
                                <td style="text-align:left;">@BizDetails.BusinessNm</td>
                                <td style="text-align:left;">@BizDetails.Email</td>
                                <td>
                                    <button type="button" onclick="location.href='@Url.Action("GetBusinessDetail", "Business", new { businessId = BizDetails.BusinessId})'">
                                        <i class="fa fa-edit"></i>

                                    </button>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>No result found</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <button class='btn btn_primary btn_md mb-3' onclick="location.href='@Url.Action("Index", "Home")'">Back</button>
    </div>
</div>






