@model TinMatchingRecipientsSDK.Models.TinMatchingResponse.TinMatchingCancelResponse

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalToggleLabel">Cancel TIN Matching</h5>
    <button type="button" class="btn-close bg-white rounded-circle border-0 fw-bold position-absolute end-n-10 top-n-13 modal-close button-hide fs-18 fw-500" data-bs-dismiss="modal" aria-label="Close">X</button>
</div>
<div class="modal-body">

    @if (Model != null)
    {
        if (Model.Errors != null && Model.Errors.Count > 0)
        {
            <h2 class="tabel-sub-head">Error</h2>
            <div class="table-container mb-3">
                <table>
                    <tbody>
                        <tr>
                            <td class=" fw-bold">Submission Id</td>
                            <td class=" align-top">@Model.SubmissionId</td>
                        </tr>

                        @foreach (var item in Model.Errors)
                        {
                            <tr>
                                <td class=" fw-bold">Id</td>
                                <td class=" align-top">@item.Id</td>
                            </tr>
                            <tr>
                                <td class="fw-bold">Name</td>
                                <td class=" align-top">@item.Name</td>
                            </tr>
                            <tr>
                                <th class="fw-bold">Message</th>
                                <td class=" border-radious-bottom-right align-top">@item.Message</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else if (Model.TINMatchingRecords != null)
        {
            if (Model.TINMatchingRecords.ErrorRecords != null && Model.TINMatchingRecords.ErrorRecords.Count > 0)
            {
                <h2 class="tabel-sub-head">Error Records</h2>
                <div class="table-container mb-3">
                    <table class="text-left">
                        <tbody>
                            <tr>
                                <td class=" fw-bold">Submission Id</td>
                                <td class=" align-top">@Model.SubmissionId</td>
                            </tr>

                            @foreach (var item in Model.TINMatchingRecords.ErrorRecords)
                            {
                                <tr>
                                    <td class=" fw-bold">Sequence Id</td>
                                    <td class=" align-top">@item.SequenceId</td>
                                </tr>
                                <tr>
                                    <td class=" fw-bold">Record Id</td>
                                    <td class=" align-top">@item.RecordId</td>
                                </tr>
                                <tr>
                                    <td class=" fw-bold">Requested Type</td>
                                    <td class=" align-top">@item.RequestedType</td>
                                </tr>

                                foreach (var error in item.Errors)
                                {
                                    <tr>
                                        <td class=" fw-bold">Id</td>
                                        <td class=" align-top">@error.Id</td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bold">Name</td>
                                        <td class=" align-top">@error.Name</td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bold">Message</td>
                                        <td class=" border-radious-bottom-right align-top">@error.Message</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            }
            else if (Model.TINMatchingRecords.SuccessRecords != null && Model.TINMatchingRecords.SuccessRecords.Count > 0)
            {
                <h2 class="tabel-sub-head">Success Records</h2>
                <div class="table-container mb-3">
                    <table class="text-left">
                        <tbody>

                            <tr>
                                <td class="  fw-bold">Submission Id</td>
                                <td class=" align-top">@Model.SubmissionId</td>
                            </tr>

                            @foreach (var item in Model.TINMatchingRecords.SuccessRecords)
                            {
                                <tr >
                                    <td class="fw-bold fw-bold">Sequence Id</td>
                                    <td class=" align-top">@item.SequenceId</td>
                                </tr>
                                <tr>
                                    <td class="fw-bold">Requested Type</td>
                                    <td class=" align-top">@item.RequestedType</td>
                                </tr>
                                <tr>
                                    <td class="fw-bold">Status</td>
                                    <td class=" border-radious-bottom-right align-top">@item.Status</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        }
    }
</div>



