@model List<TinMatchingRecipientsSDK.Models.Business.Business>
@using TinMatchingRecipientsSDK.Models.Utilities
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @if (Model != null && Model.Any())
    {

        <div class='d-flex align-items-center justify-content-between mt-5 pt-2'>
            <div>
                <h1 class='head-1'>List Business Details</h1>
                <div class="heading-bottom-line position-relative pb-0  mb-3"></div>
            </div>
            <div>
                <button class="btn btn_primary shadow btn_md float-right" style="float: right;" onclick="location.href='@Url.Action("CreateBusiness", "Business")'"> Create Business</button>
            </div>
        </div>

        <table class="table table-striped mt-4 table-bordered text-center">
            <tr>
                <th class="text-center">Business Id</th>
                <th class="text-center">Business Name</th>
                <th class="text-center">First Name</th>
                <th class="text-center">Last Name</th>
                <th class="text-center">Middle Name</th>
                <th class="text-center">Suffix</th>
                <th class="text-center">Email</th>
                <th class="text-center">Action</th>
            </tr>

            <tbody>

                @foreach (var BizDetails in Model)
                {
                    <tr>
                        <td style="text-align:left">
                            @BizDetails.BusinessId
                        </td>
                        <td style="text-align:left">
                            @BizDetails.BusinessNm
                        </td>
                         <td style="text-align:left">
                            @BizDetails.FirstNm
                        </td>
                         <td style="text-align:left">
                            @BizDetails.LastNm
                        </td>
                        <td style="text-align:left">
                            @BizDetails.MiddleNm
                        </td>
                        <td style="text-align:left">
                            @BizDetails.Suffix
                        </td>
                        <td style="text-align:left">
                            @BizDetails.Email
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary status-btn btn_smm me-2" onclick="location.href='@Url.Action("TinMatchingRequest", "TinMatchingRecipients", new { businessId = BizDetails.BusinessId, tin = BizDetails.EINorSSN,tinType=BizDetails.IsEIN,businessName=BizDetails.BusinessNm, firstName = BizDetails.FirstNm, lastName = BizDetails.LastNm, middleName = BizDetails.MiddleNm, suffix = BizDetails.Suffix})'">
                                Request TIN Match
                            </button>
                            <button type="button" class="btn btn-primary status-btn btn_smm me-2" onclick="location.href='@Url.Action("TinMatchingList", "TinMatchingRecipients", new { businessId = BizDetails.BusinessId, tin = BizDetails.EINorSSN,tinType=BizDetails.IsEIN,businessName=BizDetails.BusinessNm, firstName = BizDetails.FirstNm, lastName = BizDetails.LastNm, middleName = BizDetails.MiddleNm, suffix = BizDetails.Suffix})'">
                                List
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <button class="btn_cancel mb-3" onclick="location.href='@Url.Action("Index", "Home")'">
            <i class="fa fa-arrow-circle-left"></i>
            Back
        </button>

    }
    else
    {
        <div class="mt-5">
            <div class="d-flex align-items-center justify-content-center">
                <p class="mt-2 mb-0 text-center text-danger fw-600">
                    Before you submit TIN Request in your TaxBandits Account,You Should have atleast one Business in your account. To add a new business, click 'Create Business' button below.
                </p>
            </div>
            <div class="text-center mt-4">
                <button class="btn btn_primary shadow btn_md" onclick="location.href='@Url.Action("CreateBusiness", "Business")'"> Create Business</button>
            </div>
            <div>
                <button class="btn_cancel mb-3" onclick="location.href='@Url.Action("Index", "Home")'"><i class="fa fa-arrow-circle-left"></i> Back   </button>
            </div>
        </div>
    }
</div>



